        /* --- GLOBAL --- */

    /* -- HEADER -- */

header {
    display: flex;
    padding: 1rem 2rem;
    background-color: rgb(38, 106, 166);
    border-radius: 1.5rem;
}

.link-logo {
    display: flex;
    align-self: center;
}

.logo {
    width: 4rem;
    margin-right: 1rem;
}

.link-name {
    text-decoration: none;
}

.name {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
}

.menu-icon {
    filter: invert(100%);
    position: fixed;
    top: 2.8rem;
    right: 4rem;
    width: 4.5rem;
}

.menu {
    background-color: rgb(219, 230, 243);
    position: fixed;
    top: 8rem;
    right: 0;
    display: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

.button {
    background-color: rgb(44, 121, 189);
    padding: .3rem 1.3rem;
    border-radius: .5rem;
    margin: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 1px rgb(0, 0, 0, 25%);
    border: 1px solid rgb(15, 45, 72, 50%);
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .menu {
    display: block;
}

html {
    background-color: rgb(219, 230, 243);
}
body {
    margin: auto;
    padding: 1rem;
}

