        /* --- FONTS --- */

@font-face {
    font-family: "lato";
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

        /* --- GLOBAL --- */

    /* -- HEADER -- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 100px;
    border-radius: 1.5rem;
    z-index: 3;
    width: 800px;
    position: absolute;
}

.logo-name {
    display: flex;
}

.link-logo {
    display: flex;
    align-self: center;
}

.logo {
    width: 4rem;
    margin-right: 1rem;
    transition-duration: 3000ms;
}

.logo:hover {
    rotate: 500deg;
}

.link-name {
    text-decoration: none;
}

.name {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
    transition-duration: 200ms;
    letter-spacing: .15rem;
}

.name:hover {
    scale: 105%;
}

.menu-icon {
    filter: invert(100%);
    width: 3.5rem;
    transition-duration: 200ms;
    position: fixed;
    padding: .9rem 1rem;
    border-radius: 50%;
    top: 2.7rem;
    left: 60rem;
    background-color: rgb(217, 149, 89, 1)
}

.menu-icon:hover {
    scale: 110%;
}

.menu {
    background-color: rgb(219, 230, 243);
    display: none;
    top: 4rem;
    margin-left: 31rem;
    border-radius: 1rem;
    position: fixed;
}

.button {
    background-color: rgb(44, 121, 189);
    padding: .3rem 1.3rem;
    border-radius: .5rem;
    margin: 1.2rem;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
    border: 1.3px solid rgba(0, 0, 0, 0.5);
    transition-duration: 400ms;
}

.button:hover {
    background-color: rgb(38, 106, 166);
    scale: 105%;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .menu {
    display: block;
}

    /* -- FOOTER -- */

.footer-index {
    text-align: center;
    top: 437rem;
    position: absolute;
}

html {
    background-color: rgb(219, 230, 243);
    font-family: "lato";    
}
.body-index {
    display: flex;
    flex-direction: column;
    min-height: 94vh;
    margin: auto;
    padding: 1rem;
    align-items: center;
    height: 7000px;
}
main {
    width: 910px;
    height: 6934px;
    background-image: url(/images/frame.png);
    background-size: cover;
    position: absolute;
    z-index: 2;
}


        /* --- INDEX.html --- */

.first-bg-pic {
    background-image: url(/images/cosmology.jpg);
    background-repeat: no-repeat;
    width: 898px;
    height: 800px;
    margin-top: .4rem;
    margin-left: .4rem;
    z-index: 1;
    border-radius: 50px;
}

.second-bg-pic {
    background-image: url(/images/aeronautics.jpg);
    background-repeat: no-repeat;
    width: 898px;
    height: 800px;
    margin-top: -8rem;
    margin-left: .4rem;
    z-index: 1;
    border-radius: 50px;
}

.third-bg-pic {
    background-image: url(/images/aero-exhi.jpg);
    background-repeat: no-repeat;
    width: 898px;
    height: 800px;
    margin-top: 17rem;
    margin-left: .4rem;
    z-index: 1;
    border-radius: 50px;
}

.fourth-bg-pic {
    background-image: url(/images/cosmology.jpg);
    background-repeat: no-repeat;
    width: 898px;
    height: 800px;
    margin-top: 1rem;
    margin-left: .4rem;
    z-index: 1;
    border-radius: 50px;
}

.fifth-bg-pic {
    background-image: url(/images/head.jpg);
    background-repeat: no-repeat;
    width: 898px;
    height: 800px;
    margin-top: 11rem;
    margin-left: .4rem;
    z-index: 1;
    border-radius: 50px;
}

.sixth-bg-pic {
    background-image: url(/images/ant.jpg);
    background-repeat: no-repeat;
    width: 898px;
    height: 800px;
    margin-top: 63rem;
    margin-left: .4rem;
    z-index: 1;
    border-radius: 50px;
}

.frame {
    width: 800px;
    border-radius: 1rem;
    position: relative;
    top: -9rem;
    display: none;
}

.explore-together {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
    top: 32.8rem;
    left: 4rem;
    position: absolute;
}

.h1-et {
    text-decoration: underline;
    color: white;
    font-size: 2.3rem;
    letter-spacing: .2rem;
    padding-left: 4.5rem;
    top: 24.5rem;
    position: absolute;
}

.yellow-bg-et {
    background-color: rgb(255, 202, 106);
    width: 800px;
    height: 350px;
    border-radius: 1rem;
    display: flex;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, .5);
}

.p-et {
    width: 350px;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin: 0;
}

#button-ex-to {
    margin-left: -.1rem;
    font-size: 1.5rem;
}

.h1-ybg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 370px;
    height: 300px;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, .5);
    margin: 0;
}

.about-img {
    background-image: url(/images/about-us.jpg);
    background-size: cover;
    width: 370px;
    height: 300px;
    border-radius: 1rem;
    margin-left: 2rem;
    margin: auto;
    text-decoration: none;
    letter-spacing: .2rem;
    font-size: 1.2rem;
    transition-duration: 200ms;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.about-img:hover {
    scale: 102%;
}

.para-button {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1rem;
}

#h1-ex {
    top: 66.8rem;
    left: 39.4rem;
}

.section-explore {
    width: 800px;
    height: 600px;
    left: 2rem;
    top: 74rem;
    position: absolute;
    padding-left: 2rem;
    overflow-x: scroll;
    align-items: center;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    border-right: 1px solid black;
}

.section-explore::-webkit-scrollbar { 
    display: none;
}

.yellow-bg-ex {
    background-color: rgb(255, 202, 106);
    border-radius: 1rem;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, .5);
}

.for-teachers {
    background-image: url(/images/for-teachers.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.for-kids {
    background-image: url(/images/for-kids.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.for-researchers {
    background-image: url(/images/for-researchers.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.for-kids:hover,
.for-teachers:hover,
.for-researchers:hover,
.cosmology:hover,
.evolution:hover,
.biology:hover,
.robotics:hover,
.aeronautics:hover,
.sleepover:hover,
.energetica:hover {
    scale: 102%;
}

.h1-ybg-ex {
    background-color: rgb(0, 0, 0, 0.5);
    width: 250px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 0;
}

.p-ex {
    width: 250px;
    font-size: 1.5rem;
    margin: 1rem;
    line-height: 2rem;
}

#read-more {
    width: 13rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
}

#h1-ex-sp {
    top: 125rem;
    margin-left: .8rem;
}

#section-exh-spa {
    top: 131.4rem;
}

.cosmology {
    background-image: url(/images/cosmology.jpg);
    background-size: cover;
    background-position: -3rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.evolution {
    background-image: url(/images/evolution.jpg);
    background-size: cover;
    background-position: -1rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.biology {
    background-image: url(/images/biology.jpg);
    background-size: 180%;
    background-position: -6rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.robotics {
    background-image: url(/images/robotics.jpg);
    background-size: cover;
    background-position: -3rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.aeronautics {
    background-image: url(/images/aeronautics.jpg);
    background-size: cover;
    background-position: -1.5rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.sleepover {
    background-image: url(/images/sleepover.jpg);
    background-size: cover;
    background-position: -1rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.energetica {
    background-image: url(/images/about-us.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

#h1-sp-ev {
    top: 182.3rem;
    margin-left: 31rem;
}

#section-sp-ev {
    top: 190.5rem;
    position: absolute;
}

#h1-vi-us {
    top: 242.7rem;
}

.visit-us {
    top: 246.5rem;
    position: absolute;
}

.h1-vi-us {
    font-size: 2.7rem;
    color: rgb(255, 202, 106);
}

#location {
    top: 1.5rem;
    left: 6rem;
    position: absolute;
}

.p-vi-us {
    color: white;
    font-size: 1.8rem;
}

#p-location {
    position: absolute;
    top: 9rem;
    left: 6.5rem;
    width: 300px;
}

span {
    display: block;
}

.hours {
    position: absolute;
    top: 2rem;
    left: 35.6rem;
    width: 200px;
}

#p-hours {
    margin-top: 3.7rem;
    margin-left: 1rem;
}

.admission {
    position: absolute;
    top: 17.5rem;
    left: 6rem;
    width: 350px;
}

#p-admission {
    margin-top: 4rem;
}

.accessibility {
    position: absolute;
    width: 350px;
    left: 6rem;
    top: 45rem;
}

#p-accessibility {
    margin-top: 3.6rem;
    margin-left: .3rem;
}

.cafe {
    position: absolute;
    left: 6.2rem;
    top: 74rem;
}

#p-cafe {
    margin-top: 3rem;
    margin-left: .5rem;
}

.gift {
    position: absolute;
    left: 35rem;
    top: 69.5rem;
    width: 200px;
}

#p-gift {
    margin-top: 2.7rem;
    margin-left: .5rem;
}

#h1-get-inv {
    position: absolute;
    top: 362.7rem;
    left: 33.6rem;
}

.get-inv {
    position: absolute;
    left: 5rem;
    top: 367.7rem;
    width: 750px;
}

.p-get-inv {
    color: white;
    margin-top: -1rem;
    font-size: 1.4rem;
}

#h1-support {
    position: absolute;
    margin-left: .5rem;
}

#p-support {
    position: absolute;
    top: 8rem;
    margin-left: .5rem;
}

.volunteer {
    position: absolute;
    top: 20.3rem;
    left: .6rem;
}

#h1-volunteer {
    margin-left: 34rem;
}

#p-volunteer {
    margin-top: -.8rem;
}

.internships {
    position: absolute;
    top: 44rem;
    margin-left: .5rem;
}

#p-internships {
    margin-top: -.8rem;
}
