        /* --- FONTS --- */

@font-face {
    font-family: "lato";
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

        /* --- GLOBAL --- */

    /* -- HEADER -- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 100px;
    border-radius: 1.5rem;
    z-index: 1;
    width: 800px;
    margin: auto;
}

.logo-name {
    display: flex;
}

.link-logo {
    display: flex;
    align-self: center;
}

.logo {
    width: 4rem;
    margin-right: 1rem;
    transition-duration: 3000ms;
}

.logo:hover {
    rotate: 500deg;
}

.link-name {
    text-decoration: none;
}

.name {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
    transition-duration: 200ms;
    letter-spacing: .15rem;
}

.name:hover {
    scale: 105%;
}

.menu-icon {
    filter: invert(100%);
    width: 3.5rem;
    transition-duration: 200ms;
}

.menu-icon:hover {
    scale: 110%;
}

.menu {
    background-color: rgb(219, 230, 243);
    display: none;
    top: 7.5rem;
    margin-left: 36rem;
    border-radius: 1rem;
    position: absolute;
}

.button {
    background-color: rgb(44, 121, 189);
    padding: .3rem 1.3rem;
    border-radius: .5rem;
    margin: 1.2rem;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: .05rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
    border: 1.3px solid rgba(0, 0, 0, 0.5);
    transition-duration: 400ms;
}

.button:hover {
    background-color: rgb(38, 106, 166);
    scale: 105%;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .menu {
    display: block;
}

    /* -- FOOTER -- */

footer {
    text-align: center;
    margin-top: auto;
}

html {
    background-color: rgb(219, 230, 243);
    font-family: "lato";
}
body {
    display: flex;
    flex-direction: column;
    min-height: 94vh;
    margin: auto;
    padding: 1rem;
}
main {
    margin: auto;
    width: 910px;
    height: 6934px;
    background-image: url(/images/main-bg-2.png);
    background-size: cover;
    top: -8.3rem;
    position: relative;
}


        /* --- INDEX.html --- */

.frame {
    width: 800px;
    border-radius: 1rem;
    position: relative;
    top: -9rem;
    display: none;
}

.explore-together {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
    margin-top: 3.6rem;
}

.h1-et {
    text-decoration: underline;
    color: white;
    font-size: 2.6rem;
    letter-spacing: .2rem;
    padding-left: 3rem;
    margin-top: 26rem;
}

.yellow-bg-et {
    background-color: rgb(255, 202, 106);
    width: 800px;
    height: 350px;
    border-radius: 1rem;
    display: flex;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, .5);
}

.p-et {
    width: 340px;
    font-size: 2rem;
    line-height: 2.6rem;
    margin: 0;
}

.h1-ybg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 370px;
    height: 300px;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, .5);
    margin: 0;
}

.about-img {
    background-image: url(/images/about-us.jpg);
    background-size: cover;
    width: 370px;
    height: 300px;
    border-radius: 1rem;
    margin-left: 2rem;
    margin: auto;
    text-decoration: none;
    letter-spacing: .2rem;
    font-size: 1.2rem;
    transition-duration: 200ms;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.about-img:hover {
    scale: 102%;
}

.para-button {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1rem;
}

#h1-ex {
    margin-top: 12rem;
    margin-left: 40.3rem;
}

.section-explore {
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 4rem;
    padding-left: 2rem;
    overflow-x: scroll;
    align-items: center;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    border-right: 1px solid black;
}

.section-explore::-webkit-scrollbar { 
    display: none;
}

.yellow-bg-ex {
    background-color: rgb(255, 202, 106);
    border-radius: 1rem;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, .5);
}

.for-teachers {
    background-image: url(/images/for-teachers.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.for-kids {
    background-image: url(/images/for-kids.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.for-researchers {
    background-image: url(/images/for-researchers.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.for-kids:hover,
.for-teachers:hover,
.for-researchers:hover,
.cosmology:hover,
.evolution:hover,
.biology:hover,
.robotics:hover,
.aeronautics:hover,
.sleepover:hover,
.energetica:hover {
    scale: 102%;
}

.h1-ybg-ex {
    background-color: rgb(0, 0, 0, 0.5);
    width: 250px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 0;
}

.p-ex {
    width: 250px;
    font-size: 1.5rem;
    margin: 1rem;
    line-height: 2rem;
}

#read-more {
    width: 13rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
}

#h1-ex-sp {
    margin-top: 13.5rem;
}

.cosmology {
    background-image: url(/images/cosmology.jpg);
    background-size: cover;
    background-position: -3rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.evolution {
    background-image: url(/images/evolution.jpg);
    background-size: cover;
    background-position: -1rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.biology {
    background-image: url(/images/biology.jpg);
    background-size: 180%;
    background-position: -6rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.robotics {
    background-image: url(/images/robotics.jpg);
    background-size: cover;
    background-position: -3rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.aeronautics {
    background-image: url(/images/aeronautics.jpg);
    background-size: cover;
    background-position: -1.5rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.sleepover {
    background-image: url(/images/sleepover.jpg);
    background-size: cover;
    background-position: -1rem;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

.energetica {
    background-image: url(/images/about-us.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    margin: 0;
    margin-top: .7rem;
    transition-duration: 200ms;
    text-decoration: none;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.3);
}

#h1-sp-ev {
    margin-top: 13.2rem;
    margin-left: 31.8rem;
}

#section-sp-ev {
    margin-top: 5rem;
}

#h1-vi-us {
    margin-top: 14.3rem;
    margin-left: 1.3rem;
}
